<html>
<head>
<title>child_item.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #080808; font-style: italic;}
.s1 { color: #174ad4;}
.s2 { color: #080808;}
.s3 { color: #067d17;}
.s4 { color: #0033b3;}
</style>
</head>
<body bgcolor="#ffffff">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
child_item.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s3">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s3">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s2">&lt;</span><span class="s4">LinearLayout </span><span class="s1">xmlns:android</span><span class="s3">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s3">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
    <span class="s1">android:orientation</span><span class="s3">=&quot;vertical&quot;</span>
    <span class="s1">app:ignore</span><span class="s3">=&quot;NamespaceTypo&quot;</span><span class="s2">&gt;</span>

    <span class="s2">&lt;</span><span class="s4">androidx.cardview.widget.CardView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/cardview&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;90dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;10dp&quot;</span>
        <span class="s1">android:backgroundTint</span><span class="s3">=&quot;#420606&quot;</span><span class="s2">&gt;</span>

        <span class="s2">&lt;</span><span class="s4">de.hdodenhof.circleimageview.CircleImageView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/image_view2&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;60dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;60dp&quot;</span>
            <span class="s1">android:backgroundTint</span><span class="s3">=&quot;#9F5C5C&quot;</span>
            <span class="s1">android:src</span><span class="s3">=&quot;@drawable/pastitsio&quot;</span>
            <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s3">=&quot;parent&quot; </span><span class="s2">/&gt;</span>

        <span class="s2">&lt;</span><span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/textViewTitle2&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;70dp&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;@string/textview&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#EAE7E7&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;24sp&quot;</span>
            <span class="s1">app:layout_constraintStart_toEndOf</span><span class="s3">=&quot;@+id/image_view2&quot;</span>
            <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s3">=&quot;parent&quot; </span><span class="s2">/&gt;</span>

        <span class="s2">&lt;</span><span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/textViewDetails2&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;70dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;30dp&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;@string/textview&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#EAE7E7&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;16sp&quot;</span>
            <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s3">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintStart_toEndOf</span><span class="s3">=&quot;@+id/image_view2&quot;</span>
            <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@+id/textViewTitle2&quot; </span><span class="s2">/&gt;</span>
    <span class="s2">&lt;/</span><span class="s4">androidx.cardview.widget.CardView</span><span class="s2">&gt;</span>
<span class="s2">&lt;/</span><span class="s4">LinearLayout</span><span class="s2">&gt;</span></pre>
</body>
</html>