<html>
<head>
<title>my_row.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #080808; font-style: italic;}
.s1 { color: #174ad4;}
.s2 { color: #080808;}
.s3 { color: #067d17;}
.s4 { color: #0033b3;}
</style>
</head>
<body bgcolor="#ffffff">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
my_row.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s3">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s3">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s2">&lt;</span><span class="s4">androidx.constraintlayout.widget.ConstraintLayout </span><span class="s1">xmlns:android</span><span class="s3">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s3">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s3">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
    <span class="s1">android:orientation</span><span class="s3">=&quot;vertical&quot;</span><span class="s2">&gt;</span>

    <span class="s2">&lt;</span><span class="s4">ImageView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/imageView&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;150dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;150dp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintLeft_toLeftOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:srcCompat</span><span class="s3">=&quot;@drawable/ic_launcher_background&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s4">TextView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/Title&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;20dp&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;TextView&quot;</span>
        <span class="s1">android:textSize</span><span class="s3">=&quot;50sp&quot;</span>
        <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
        <span class="s1">app:layout_constraintBottom_toTopOf</span><span class="s3">=&quot;@+id/Description&quot;</span>
        <span class="s1">app:layout_constraintLeft_toRightOf</span><span class="s3">=&quot;@id/imageView&quot;</span>
        <span class="s1">app:layout_constraintRight_toRightOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s3">=&quot;parent&quot; </span><span class="s2">/&gt;</span>


    <span class="s2">&lt;</span><span class="s4">TextView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/Description&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s3">=&quot;20dp&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;TextView&quot;</span>
        <span class="s1">android:textSize</span><span class="s3">=&quot;20sp&quot;</span>

        <span class="s1">app:layout_constraintLeft_toRightOf</span><span class="s3">=&quot;@id/imageView&quot;</span>
        <span class="s1">app:layout_constraintRight_toRightOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@+id/Title&quot; </span><span class="s2">/&gt;</span>
<span class="s2">&lt;/</span><span class="s4">androidx.constraintlayout.widget.ConstraintLayout</span><span class="s2">&gt;</span></pre>
</body>
</html>